.containerBlock{
	height: calc(100vh - 35px);
	width: 100%;
	color: black;
	background: #ECECEC;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.conColumn{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.taskList{
	width: 25%;
	background: #bcbcbc;
}

.taskDetails{
	width: 75%;
}